[defaults] 
inventory = ../inventory/
connection_plugins = ../paramiko_ssh-i/

[ssh_connection]
scp_if_ssh=True
# ssh arguments to use
# Leaving off ControlPersist will result in poor performance, so use
# paramiko on older platforms rather than removing it
#ssh_args = -o ControlMaster=auto -o ControlPersist=60s
pelining=True
 
